body {
    font-family: 'Segoe UI', sans-serif;
}

.smudge-container {
    position: relative;
}

.smudge-image {
    left: 0;
    position: absolute;
    top: 0;
}

.smudge-image-loading .smudge-image {
    visibility: hidden;
}

.smudge-canvas {
    left: 0;
    position: absolute;
    top: 0;
    transition: opacity ease 0.5s;
}

.smudge-hover .smudge-canvas {
    opacity: 0;
}

.smudge-hover:hover .smudge-canvas {
    opacity: 1;
}

.smudge-image-loading .smudge-canvas {
    opacity: 1;
}

.smudge-caption {
    background-color: rgba(255,255,255,0.5);
    bottom: 0;
    box-sizing: border-box;
    left: 0;
    padding: 5px 10px;
    position: absolute;
    width: 100%;
    word-wrap: break-word;
}

.smudge-hover-caption .smudge-caption {
    opacity: 0;
    transition: opacity ease 1s;
}

.smudge-hover-caption:hover .smudge-caption {
    opacity: 1;
}

.smudge-slider {
    box-sizing: border-box;
    left: 0;
    margin: 0;
    padding: 5px 10px;
    position: absolute;
    top: 0;
    width: 100%;
}

.smudge-hover-caption .smudge-slider {
    opacity: 0;
    transition: opacity ease 1s;
}

.smudge-hover-caption:hover .smudge-slider {
    opacity: 1;
}
